<ons-page id="Adventure1">
    <div class="left">
        <ons-back-button>back</ons-back-button>
    </div>
    <div class="box">
        <p>
            <img src="img/Adventure/dora.jpg" width="188" height="275" style="margin-top: 10px;">
        </p>
        <B>Dora</B>
        <p>เรื่องราวเกี่ยวกับ ดอร่า (อิซาเบล่า โมเนอร์) สาวน้อยนักผจญภัย ซึ่งใช้ชีวิตอยู่กับครอบครัวนักสำรวจในป่า แล้วย้ายเข้ามาเรียนมัธยมปลายในเมือง เธอเข้าสู่การผจญภัยครั้งใหม่พร้อมกับ "บูตส์" ลิงเพื่อนรัก, ดีเอโก (เจฟฟรีย์ วอห์ลเบิร์ก), บุคคลลึกลับที่อยู่ในป่า
            (ยูเฮนิโอ เดอเบซ) และกลุ่มวัยรุ่น เพื่อช่วยพ่อแม่ของเธอ (อีวา ลองโกเรีย และไมเคิล พีนา) และไขปริศนาของเมืองทองคำที่สาบสูญ</p>
    </div>
</ons-page>