<ons-page id="Comedy1">
    <div class="left">
        <ons-back-button>back</ons-back-button>
    </div>
    <div class="box">
        <p>
            <img src="img/Comedy/antman.jpg" width="188" height="275" style="margin-top: 10px;">
        </p>
        <B>Ant man</B>
        <p>
            เรื่องย่อ : ควันหลงจาก กัปตัน อเมริกา: ซีวิล วอร์, สก็อตต์ แลงก์ ต้องรับมือกับผลลัพธ์ในสิ่งที่เขาเลือกทั้งในฐานะซูเปอร์ฮีโร่ และความเป็นพ่อ ในขณะเดียวกันนั้นเขาก็ต้องพยายามสร้างสมดุลของชีวิตที่ครอบครัวและหน้าที่ความรับผิดชอบในฐานะ แอนท์-แมน เขาต้องร่วมมือกับ
            โฮป แวน ไดน์ และดร. แฮงค์ พิม ในภารกิจใหม่สุดเร่งด่วน สก็อตต์ต้องกลับมาสวมชุดใหม่อีกครั้ง และเรียนรู้ที่จะต่อสู้เป็นทีมไปพร้อมกับเดอะ วอส์พ เพื่อหาคำตอบในอดีตที่เป็นปริศนาของพวกเขา
        </p>
    </div>
</ons-page>