<div class="media">
    <img src="img/Adventure/dora.jpg" width="100" height="150" alt="dora">
    <div class="media__content">
        <b>DORA</b>
    </div>


    <div class="comment">
        <p>ตอนแข่งมอเตอร์บอลครั้งสุดท้ายนี่ คนรู้จักของอลิตาตายหมดแล้วหรือเปล่าครับ ทั้งด็อกเตอร์ พยาบาล เหมือนในหนังไม่กล่าวถึงเลย แล้วอลิตาก็ร้องไห้ด้วย (จะบอกว่าร้องไห้เพราะฮิวโก้คนเดียวก็ไม่น่าใช่ เพราะเวลามันผ่านมาซักพักนึงแล้ว) แถมโนว่าก็ขู่ว่าจะฆ่าทุกคนด้วย
            นอกเรื่องใครยังไม่ดูแนะนำ IMAX เลยครับฉากต่อสู้มันมาก ยิ่งมอเตอร์บอลนี่สุดๆ เนื้อเรื่องอาจจะไม่สดใหม่แต่ก็ไม่ได้แย่ </p>
    </div>
</div>
</div>