<ons-page id="Family1">
    <div class="left">
        <ons-back-button>back</ons-back-button>
    </div>
    <div class="box">
        <p>
            <img src="img/Family/deadpool_2.jpg" width="188" height="275" style="margin-top: 10px;">
        </p>
        <B>Dead pool 2</B>
        <p>เรื่องย่อ : เดดพูล รวมทีมปกป้องเด็กอ้วนจาก เคเบิล คู่ปรับคนใหม่ของเดดพูลที่มาเพื่อฆ่าเด็กคนนี้โดยเฉพาะเพราะเป็นภารกิจยิ่งใหญ่จึงจำเป็นต้องเกณฑ์คนร่วมทีม ทั้งมนุษย์กลายพันธุ์อย่าง โดมิโน มิวแทนต์ที่เกิดจากโครงการเพาะพันธุ์มิวแทนต์ที่คาดว ่าจะนำไปใช้ทางการทหารพลังของเธอคือความโชคดี
            ซึ่งเธอมีพลังพิเศษที่ควบคุมโชคชะตาให้เข้าข้างเธอได ้ และคนธรรมดาที่.. แค่อยากได้งานทำ !! และแน่นอนว่า วาเนสซ่า คนรักหนึ่งเดียวของเดดพูล, โดพินเดอร์ คนขับแท็กซี่ตัวประกอบจากภาคที่แล้ว มาร่วมทีมเกรียนและสร้างความฮาในภาคนี้อย่างเต็มตัว,ป้าอัล
            คุณป้าตาบอดรูมเมทของเดดพูล, เนกาโซนิก ทีนเอจ วอร์เฮ้ด มิวแทนต์สาวที่กลับมามาพร้อมความแสบที่ทวีคูณพร้อมกับความมันจากคู่ปรับใหม่ของเดดพูลอย่าง เคเบิล ที่มาพร้อมอาวุธคู่กายและแขนเหล็กสุดโหด งานนี้บอกได้คำเดียวว่า มันแน่นอน</p>
    </div>

</ons-page>