<ons-page id="favorite">
        <p>
            <div>
    
                <ons-row class='box_F'>
                    <ons-col class="gg">
                        <img src="img/m3.jpeg" width="130" height="190">
                        <ons-row class="margin">
                            <ons-col>
                                <h4> <b>Ant-Man</h4><small>Action | 1h 57min | 17/7/15</small>
                                <br>
                                <ons-icon icon="star" icon="star" icon="star" style="color: #FFA500"></ons-icon> 7.1/10
                            </ons-col>
    
                            <ons-col>
                                
                                <ons-icon icon="heart" size="30px" style="color: red">
                                </ons-icon>
                            </ons-col>
                        </ons-row>
                    </ons-col>
                </ons-row>
                <br>
    
                <ons-row class='box_F'>
                    <ons-col class="gg">
                        <img src="img/m4.jpeg" width="130" height="190">
                        <ons-row class="margin">
                            <ons-col>
                                <h4> <b>DeadPool</h4><small>Action | 1h 58min | 12/2/16</small>
                                <br>
                                <ons-icon icon="star" icon="star" icon="star" style="color:#FFA500"></ons-icon> 7.7/10
                            </ons-col>
    
                            <ons-col>
                                
                                <ons-icon icon="heart" size="30px" style="color: red">
                                </ons-icon>
                            </ons-col>
                        </ons-row>
                    </ons-col>
                </ons-row>
                <br>
    
                <ons-row class='box_F'>
                    <ons-col class="gg">
                        <img src="img/m1.jpeg" width="130" height="190">
                        <ons-row class="margin">
                            <ons-col>
                                <h4> <b>X-Men: Dark Phoenix</h4>
                                <small>Action | 2h 2min | 10/10/19</small>
                                <br>
                                <ons-icon icon="star" icon="star" icon="star" style="color: #FFA500"></ons-icon> 5.8/10
                            </ons-col>
    
                            <ons-col>
                                
                                <ons-icon icon="heart" size="30px" style="color: red">
                                </ons-icon>
                            </ons-col>
                        </ons-row>
                    </ons-col>
                </ons-row>
                <br>
    
                <ons-row class='box_F'>
                    <ons-col class="gg">
                        <img src="img/m2.jpeg" width="130" height="190">
                        <ons-row class="margin">
                            <ons-col>
                                <h4> <b>ฉลาดเกมโกง </h4><small>Drama | 2h 10min | 10/10/17</small>
                                <br>
                                <ons-icon icon="star" icon="star" icon="star" style="color: #FFA500"></ons-icon> 7.6/10
                            </ons-col>
    
                            <ons-col>
                                
                                <ons-icon icon="heart" size="30px" style="color: red">
                                </ons-icon>
                            </ons-col>
                        </ons-row>
                    </ons-col>
                </ons-row>
                <br>
    
               
    
               
    
    
            </div>
        </p>
    </ons-page>