<ons-page>
    <ons-navigator swipeable id="myNavigator" page="page1.html"></ons-navigator>
    <template id="page1.html">
    <ons-page id="page1">
      <div class="container">
        <b>Adventure</b>
      <ons-carousel swipeable overscrollable animation=“fade”
      animation-options="{duration: 1.0, delay: 0, timing: ‘ease-in’}">
        <ons-carousel-item>
          <div id="a1"></div>
        </ons-carousel-item>
          <ons-carousel-item>
             <div id="a2"></div>
          </ons-carousel-item>
          <ons-carousel-item>
            <div id="a3"></div>
          </ons-carousel-item>
          <ons-carousel-item>
            <div id="a4"></div>
          </ons-carousel-item>
          <ons-carousel-item>
            <div id="a5"></div>
          </ons-carousel-item>
        </ons-carousel>
      </div>
  
        <br>
      <div class="container">
        <b>Recommend</b>
      <ons-carousel swipeable overscrollable animation=“fade”
      animation-options="{duration: 1.0, delay: 0, timing: ‘ease-in’}" >
        <ons-carousel-item>
          <div id="a6"></div>
        </ons-carousel-item>
          <ons-carousel-item>
            <div id="a7"></div>
          </ons-carousel-item>
          <ons-carousel-item>
            <div id="a8"></div>
          </ons-carousel-item>
          <ons-carousel-item>
            <div id="a9"></div>
          </ons-carousel-item>
          <ons-carousel-item>
            <div id="a10"></div>
          </ons-carousel-item>
        </ons-carousel>
      </div>
  
      <br>
      <div class="container">
        <b>Other</b>
      <ons-carousel swipeable overscrollable animation=“fade”
      animation-options="{duration: 1.0, delay: 0, timing: ‘ease-in’}">
        <ons-carousel-item item-width="100px">
          <div id="a11"></div>
        </ons-carousel-item>
          <ons-carousel-item>
            <div id="a12"></div>
          </ons-carousel-item>
          <ons-carousel-item>
            <div id="a13"></div>
          </ons-carousel-item>
          <ons-carousel-item>
            <div id="a14"></div>
          </ons-carousel-item>
          <ons-carousel-item>
            <div id="a15"></div>
          </ons-carousel-item> -->
        </ons-carousel>
        <br>
      <button id = "test" onclick="test2()">asdsad</button>
      </div>
      
    </ons-page>
  </template>
</ons-page>