<ons-page>
    <ons-navigator swipeable id="myNavigator" page="page1.html"></ons-navigator>
    <template id="page1.html">
  <ons-page id="page1">
    <div class="container">
      <b>Adventure</b>
    <ons-carousel var="carousel" ons-postchange="console.log('Changed to ' + $event.activeIndex)" swipeable auto-scroll overscrollable>
      <ons-carousel-item>
        <img src="img/Adventure/dora.jpg?" width="380" height="480" id="a1">
        <div class="nmovie"><B>DORA</B> </div>
      </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/Adventure/beyond.jpg" width="380" height="480" id="a2">
          <div class="nmovie"><B>beyond the mask</B> </div>
        </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/Adventure/toy_story.jpg" width="380" height="480" id="a3">
          <div class="nmovie"><B>Toy story 4</B> </div>
        </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/Adventure/end_of_watch.jpg" width="380" height="480" id="a4">
          <div class="nmovie"><B>End of watch</B> </div>
        </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/Adventure/mummy.jpg" width="380" height="480" id="a5">
          <div class="nmovie"><B>The Mummy reborn</B> </div>
        </ons-carousel-item>
      </ons-carousel>
    </div>

<br>
    <div class="container">
      <b>Comedy</b>
    <ons-carousel var="carousel" ons-postchange="console.log('Changed to ' + $event.activeIndex)" swipeable auto-scroll overscrollable>
      <ons-carousel-item>
        <img src="img/Comedy/antman.jpg" width="380" height="480" id="c1">
        <div class="nmovie"><B>Antman</B> </div>
      </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/Comedy/american.jpg" width="380" height="480" id="c2">
          <div class="nmovie"><B>American Hustle</B> </div>
        </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/Comedy/brides.jpg" width="380" height="480" id="c3">
          <div class="nmovie"><B>Brides Maids</B> </div>
        </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/Comedy/crash.jpg" width="380" height="480" id="c4">
          <div class="nmovie"><B>Crash</B> </div>
        </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/Comedy/hangover.jpg" width="380" height="480" id="c5">
          <div class="nmovie"><B>The Hangover</B> </div>
        </ons-carousel-item>
      </ons-carousel>
    </div>

    <br>
    <div class="container">
      <b>Comedy</b>
    <ons-carousel var="carousel" ons-postchange="console.log('Changed to ' + $event.activeIndex)" swipeable auto-scroll overscrollable>
      <ons-carousel-item>
        <img src="img/Family/Deadpool_2.jpg" width="380" height="480" id="f1">
        <div class="nmovie"><B>Deadpool2</B> </div>
      </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/Family/anabell.jpg" width="380" height="480" id="f2">
          <div class="nmovie"><B>Anabell</B> </div>
        </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/Family/instant.jpg" width="380" height="480" id="f3">
          <div class="nmovie"><B>Instant family</B> </div>
        </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/Family/narcos.jpg" width="380" height="480" id="f4">
          <div class="nmovie"><B>Narcos</B> </div>
        </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/Family/sponbob.jpg" width="380" height="480" id="f5">
          <div class="nmovie"><B>Sponbob</B> </div>
        </ons-carousel-item>
      </ons-carousel>
    </div>

  </ons-page>
</template>
</ons-page>