<ons-page id="profile1">
    <div class="left">
        <ons-back-button>back</ons-back-button>
    </div>
    <div class="box" style="margin-left: 10px; margin-right: 10px; height: 500px;">
        <img class="imgg" src="profile.jpg" width="150" height="150">

        <div style="margin-top: 20px; color: white;">
            <B> SUNDY SANADEE</B>
        </div>
        <div style="text-align: center; color: white;">
            <B>STATUS&nbsp;</B>
            <select class="select" style="color: white;">
               <option><B>ONLINE</B></option>
                <option><B>OFFLINE</B></option>
                <option><B>BUSY</B></option>
              </select>

        </div>
        <b style="color: white;">Email: SANADEE12@gmail.com</b>
    </div>
</ons-page>