<ons-page id="profile">

    <div id="D"></div>

    <div class="setting">
        <div class="icon1">
            <ons-icon icon="md-lock" active-icon="md-lock" size="30px" style="color: white">
            </ons-icon>
        </div>
        <div class="media__content">
            <B>Privacy</B>
        </div>
    </div>

    <div class="setting">
        <div class="icon1">
            <ons-icon icon="md-settings" active-icon="md-settings" size="30px" style="color: white">
            </ons-icon>
        </div>
        <div class="media__content">
            <B>Account Settings</B>
        </div>
    </div>

    <div class="setting">
        <div class="icon1">
            <ons-icon icon="md-help-outline" active-icon="md-help-outline" size="30px" style="color: white">
            </ons-icon>
        </div>
        <div class="media__content">
            <B>Report Problem</B>
        </div>
    </div>

    <div class="setting" id="signout">
        <div class="icon1">
            <ons-icon icon="md-sign-in
            " active-icon="md-sign-in
            " size="30px" style="color: white">
            </ons-icon>
        </div>

        <div class="media__content">
            <B>Sign out</B>
        </div>
    </div>









</ons-page>