<ons-page id="profile">

    <div id="list"></div>

    <div class="profile">
        <img class="imgg" src="img/profile.jpg" width="70" height="70">
        <div>
            <B> SUNDY SANADEE</B>
        </div>
    </div>


    <div class="setting">
        <div class="icon1">
            <ons-icon icon="md-account" active-icon="md-account" size="30px" style="color: white">
            </ons-icon>
        </div>
        <div class="media__content">
            <B>Profile</B>
        </div>
    </div>

    <div class="setting">
        <div class="icon1">
            <ons-icon icon="md-lock" active-icon="md-lock" size="30px" style="color: white">
            </ons-icon>
        </div>
        <div class="media__content">
            <B>Provacy</B>
        </div>
    </div>

    <div class="setting">
        <div class="icon1">
            <ons-icon icon="md-settings" active-icon="md-settings" size="30px" style="color: white">
            </ons-icon>
        </div>
        <div class="media__content">
            <B>Account Settings</B>
        </div>
    </div>

    <div class="setting">
        <div class="icon1">
            <ons-icon icon="md-help-outline" active-icon="md-help-outline" size="30px" style="color: white">
            </ons-icon>
        </div>
        <div class="media__content">
            <B>Report Problem</B>
        </div>
    </div>

    <div class="setting">
        <div class="icon1">
            <ons-icon icon="md-logout" active-icon="md-logout" size="30px" style="color: white">
            </ons-icon>
        </div>

        <div class="media__content">
            <B>Sign out </B>
        </div>
    </div>









</ons-page>