<ons-page id="review">

    <div class="media">
        <img src="img/Adventure/dora.jpg" width="100" height="150" alt="dora">
        <div class="media__content">
            <b>DORA</b>
            <p>คนรู้จักของอลิตาตาย หมดแล้วหรือเปล่าครับ</p>
            <div class="icon">
                <ons-icon icon="heart" active-icon="heart" size="30px" style="color: red">
                </ons-icon>
            </div>
        </div>

    </div>
    <div class="media">
        <img src="img/Family/anabell.jpg" width="100" height="150" alt="dora">
        <div class="media__content">
            <b>Anabell</b>
            <p>หุ่นฟางในโรงนาจริงๆมันเกี่ยวข้องกับซานตานหรือยังไงหรอครับ ตอนแรกนึกว่าเป็นเรื่องของตุ๊กตาแอนนาเบลล้วนๆ
            </p>
            <div class="icon">
                <ons-icon icon="heart" active-icon="heart" size="30px" style="color: red">
                </ons-icon>
            </div>
        </div>

    </div>
    <div class="media">
        <img src="img/Adventure/toy_story.jpg" width="100" height="150" alt="dora">
        <div class="media__content">
            <b>Toy story 4</b>
            <p>สาวเลี้ยงแกะหายไปไหนในToy Story4 และทำไมหนังต้องทิ้งท้ายให้เรื่องเศร้าขนาดนั้น
            </p>
            <div class="icon">
                <ons-icon icon="heart" active-icon="heart" size="30px" style="color: red">
                </ons-icon>
            </div>
        </div>

    </div>
    <div class="media">
        <img src="img/Comedy/antman.jpg" width="100" height="150" alt="dora">
        <div class="media__content">
            <b>Antman</b>
            <p>ทำไมวายร้ายเรื่องนี้ถึงโหดเหี้ยมได้ขนาดนี้ครับ</p>


            <div class="icon">
                <ons-icon icon="heart" active-icon="heart" size="30px" style="color: red">
                </ons-icon>
            </div>
        </div>

    </div>








</ons-page>